
*{
    font-family: 'Quicksand', sans-serif    ;
    background-color: #222222;
    color: #E6E6FA;
}

.title{
    margin-left: 30px;
    margin-top: 160px;
    height: 40px;
}

.welcome{
margin-top: 140px;
font-size: 130px;
margin-left: 56px;
transform: scale(0.94);
}

.loginButton{
    font-size: 20px;
    margin-top: 26px;
    height: 45px;
    border-radius: 16px;
    border-color: white;
    width: 97px;
}

#geegee:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 50ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.loginButton:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 50ms;
}

.animation1{
    width: 100%;
    animation: typing 2s steps(29), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    place-items:center;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.signupbutton{
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.signupbutton:hover{
    text-decoration: underline;
}

.heading{
    width: 50%;
    left : 0;
    display: inline-block;
}

.form1{
    font-size: 20px;
    float: right;
    display: inline-block;
    margin-right:78px ;
    margin-top: calc(50% - 100px);
}

.ifWeHaveAnAccount{
    cursor: pointer;
}

.form{
    display: grid;
    justify-content: center;
}

input:focus{
    outline: none;
    border-width: 2px;
}

.title2{
    text-align: center;
    margin-bottom: 130px;
}

.textbox{
    box-shadow: none;
    margin-bottom: 30px;
    height: 40px;
    width: 250px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    transition: border-color 0.2s;
    display: block;
}

.textbox:focus::placeholder{
    color: transparent;
}

.parent:focus-within:focus-within label{
    font-weight: bold;
}

.signUpPageContent{
    display: flexbox;
}
