
*{
    font-family: 'Quicksand', sans-serif    ;
    background-color: #222222;
    color: #E6E6FA;
}

.title{
    margin-left: 30px;
    margin-top: 160px;
    height: 40px;
}

#lolop{
    margin-bottom: 10px;
}

#lolopp{
    margin-top: 20px;
    margin-bottom: 10px;
}

#initialDateSelected{
    line-height: 0;
}

#finalDateSelected{
    line-height: 0;
}

.welcome{
margin-top: 140px;
font-size: 130px;
margin-left: 56px;
transform: scale(0.94);
}

.react-datepicker__input-container{
}

.loginButton{
    font-size: 20px;
    margin-top: 26px;
    height: 45px;
    border-radius: 16px;
    border-color: white;
    width: 97px;
}



.yyy{
    margin-top: 40px;
    margin-left: 320px;
}

.element{
    margin-top: 50px;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    color: white !important;
}

.description{
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 70px;
}

.carousel-indicators{
background-color: transparent;
}

.hostName{
    font-size: 15px;
    margin-left: 30px;
}

.titleee{
    font-size: 40px;
    margin-left: 50%;
    text-decoration: underline;
}


.mainContentForUserPage{
    width: 88%;
    margin-top: 83px;
}

.individualDataBox{
    display: inline;
    float: right;
    width: 700px;
    height: 700px;
    border: 2px solid white;
    display: inline;
    margin-bottom: 66px;
}

.imageOfindividualDataBox{
    width: 700px;
    height: 394px;
    
}

.hotelImages{
    width: 700px;
    height: 394px;
}

.titleindividualDataBox{

}

#city{
    margin-left: 20px;
    border: solid 2px #E6E6FA;
    box-shadow: none;
    border-radius: 10px;
    width: 200px;
    display: inline-block;
    height: 30px;
}

#city::placeholder{
    text-align: center;
}

#geegee:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 50ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.backButton:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 70ms;
}

.backButton{
    font-size: 20px;
    margin-top: 26px;
    margin-left: 745px;
    height: 45px;
    border-radius: 16px;
    border-color: white;
    width: 97px;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  color:red !important;
  font-weight: bold;
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
    color: #E6E6FA;
}

.Toastify__toast-theme--light {
    background-color: #222222 !important;
}



.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: black !important;
}



.react-datepicker__input-container input {
    width: 80%;
    margin-left: 40px;
    cursor: pointer;
    border: none;
    font-size: 20px;   
}
 
.react-datepicker__input-container{
      width:80%;
      font-size: 25px;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      border: 1px solid #ced4da;
      border-radius: 16px;
      border-color: white;
      appearance: none;
      height: 36px;
      cursor: pointer;
}

  

.loginButton:hover{
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 70ms;
}

.animation1{
    width: 100%;
    animation: typing 2s steps(29), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    place-items:center;
}
  
.huge-button:hover{
    font-size: 47px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 70ms;
}

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.signupbutton{
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.signupbutton:hover{
    text-decoration: underline;
}

.heading{
    width: 50%;
    left : 0;
    display: inline-block;
}

.Error{
    color: red;
}

.listStyling{
    list-style-type: none;
}

.logoutButton{
    margin-left: 220px;
    font-size: 20px;
    margin-top: 26px;
    height: 45px;
    border-radius: 16px;
    border-color: white;
    width: 97px;

}

.titleforhostpage{
    margin-left: 35px;
    font-size: 50px;
    text-align: center;
    display: inline-block;
}

.huge-button{
    font-size: 40px;
    margin-top: 26px;
    height: 210px;
    border-radius: 16px;
    border-color: white;
    width: 300px;
}

.mainContentForHostPage{
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: 300px 300px;
    align-content: space-around;
    justify-content: space-around;
}

.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    border-color: white !important;
}

.form1{
    font-size: 20px;
    float: right;
    display: inline-block;
    margin-right:78px ;
    margin-top: calc(50% - 100px);
}


.ifWeHaveAnAccount{
    cursor: pointer;
}

#signInDiv{
    margin-top: 30px;
}

.form{
    display: grid;
    justify-content: center;
}

#image{
    display: none;
}

#cityLabel{
    margin-left: 20px;
    display: inline;
}

#vohvalalabel{
    border: 1px solid #ccc;
    padding: 6px 6px;
    cursor: pointer;
    height: 45px;
    border-radius: 16px;
    border-color: white;
}

#vohvalalabel:hover{
    font-weight: bold;
    cursor: pointer;
    transition-duration: 70ms;
}

.abcd{
margin-top: 100px;
}

input:focus{
    outline: none;
    border-width: 2px;
}

.title2{
    text-align: center;
    margin-bottom: 130px;
}

.textbox{
    box-shadow: none;
    margin-bottom: 30px;
    height: 40px;
    width: 250px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    transition: border-color 0.2s;
    display: block;
}

.textbox:focus::placeholder{
    color: transparent;
}

.parent:focus-within:focus-within label{
    font-weight: bold;
}

.signUpPageContent{
    display: flexbox;
}
